/*
 * Copyright Simpolor
 */

/* ---- pureness-tab ---- */
.pureness-tab {
    width: 100%;
    white-space: nowrap;
}
.pureness-tab-list {
    list-style: none;
    z-index: -1;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #777;
}
.pureness-tab-item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.pureness-tab-selected {
    position: relative;
    z-index: 10;
    border-top: 1px solid #777;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    border-radius: 10px 10px 0 0
}
.pureness-tab-link {
    display: block;
    text-decoration: none;
    padding: .5em 1em;
    color: #777;
}