#wrap { }
#main { }
#footer { text-align: center; }
#content { }
#aside { height:auto; line-height: 30px; text-align: center; }
#main-section { padding: 30px 15px; }

@media (min-width: 48em) {
	#content { padding-left: 200px; }
	#aside {
		position:fixed;
		top:0;
		bottom:0;
		width:200px;
		margin-left:-200px;
		border-right: 1px solid #000;
	}
	#main-section { }
	#footer { margin-left: 200px; }
}

@media (max-width: 48em) {
	#content { }
	#aside { height:auto; }
	#main-section {}
}