/* ---- pureness-board-title ---- */
.pureness-board-title {
    margin-bottom: 20px;
    color: #A4A4A4;
}
.pureness-board-title h2{
    font-size: 24px;
}

/* ---- pureness-board-buttons ---- */
.pureness-board-buttons {
    margin-top: 10px;
    text-align: right;
}

/* ---- board-list ---- */
.pureness-board-list {
    width: 100%;
    border: 0px;
}
.pureness-board-list th, .pureness-board-list td {
    border: 0px;
}
.pureness-board-list th {
    text-align: center;
}
.pureness-board-list td {
    border-bottom: 1px solid #CBCBCB;
    font-weight: lighter;
    text-align: center;
}
.pureness-board-list a {
    text-decoration: none;
    color: #000000;
}
.pureness-board-list a:hover {
    text-decoration: underline;
}
.pureness-board-list .title {
    text-align: left;
}

/* ---- board-search ---- */
.pureness-board-search {
    width: 100%;
    margin: 40px 0;
    padding: 15px 0;
    border: 1px solid #cbcbcb;
}
.pureness-board-search select, .pureness-board-search input, .pureness-board-search button {
    height: 37px;
}
.pureness-board-search select {
    float: right;
    width: 90%;
    margin-right: 5px;

}
.pureness-board-search input {
    width: 100%;
}
.pureness-board-search button {
    float: left;
    width: 80%;
    margin-left: 5px;
}

.pureness-board-search .pure-form button[type=submit] {
    margin: 0 !important;
}

/* ---- board-form ---- */
.pureness-board-form {
    width: 100%;
}
.pureness-board-form div {
    margin-bottom: 10px;
}
.pureness-board-form>.title>input {
    width: 100%;
}
.pureness-board-form>.category>select {
    width: 100px;
    margin: 0;
    padding: 0 0 0 5px;
}
.pureness-board-form>.content>textarea {
    width: 100%;
    height: 350px;
    resize: none;
}
.pureness-board-form>.upload {
    width: 100%;
}
.pureness-board-form>.upload input[type="text"] {
    display: inline-block;
    width: 100%;
    height: 37px;
    margin: 0;

}
.pureness-board-form>.upload label {
    display: inline-block;
    width: 99%;
    height: 37px;
    line-height: 37px;
    margin: 0 0 0 5px;
    background-color: #E6E6E6;
    border-radius: 2px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.pureness-board-form>.upload input[type="file"] { /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* ---- pureness-board-detail ---- */
.pureness-board-detail {
    width: 100%;
}
.pureness-board-detail .title, .pureness-board-detail .content {
    pointer-events: none;
}
.pureness-board-detail .title {
    margin-bottom: 10px;
    padding: .5em .6em;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
.pureness-board-detail .title>h3 {
    font-size: 20px;
    word-wrap: break-word
}
.pureness-board-detail .content {
    width: 100%;
    min-height: 350px;
    margin: 0;
    padding: .5em .6em;
    border: 1px solid #CCC;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
}
.pureness-board-detail .content>p {
    word-wrap: break-word
}
.pureness-board-detail .date {
    padding-top: 5px;
    font-weight: lighter;
    font-size: 10px;
    color: #7f8c8d;
}

/* ---- pureness-comment-list ---- */
.pureness-comment {
    width: 100%;
    margin: 50px 0;
}
.pureness-comment-list {
    width: 100%;
}
.pureness-comment-list ul {
    list-style: none;
    padding-left: 0;
    border-top: 1px solid #CBCBCB;
}
.pureness-comment-list li {
    border-bottom: 1px solid #CBCBCB;
}
.pureness-comment-list .info {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dotted #CBCBCB;
}
.pureness-comment-list .register {
    font-weight: bold;
}
.pureness-comment-list .date {
    padding-top: 5px;
    font-weight: lighter;
    font-size: 10px;
    color: #7f8c8d;
}
.pureness-comment-list .content {
    width: 100%;
    min-height: 70px
}
.pureness-comment-list .content>p {
    margin: 0px;
    padding: 5px;
    word-wrap: break-word
}
.pureness-comment-list .content>textarea {
    margin: 5px 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
    resize: none;
}
.pureness-comment-list .buttons {
    width: 100%;
    height: 40px;
    text-align: right;
}
.pureness-comment-list .buttons>.pure-button {
    width: 50px;
    height: 30px;
    padding: 0;
}

/* ---- pureness-comment-form ---- */
.pureness-comment-form {
    width: 100%;
    margin: 50px 0 20px;
}
.pureness-comment-form .info {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #CBCBCB;
}
.pureness-comment-form .register {
    font-weight: bold;
}
.pureness-comment-form .content {
    width: 100%;
    margin: 5px 0;
}
.pureness-comment-form .content>textarea {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
    resize: none;
}
.pureness-comment-form .buttons {
    width: 100%;
    height: 40px;
    text-align: right;
}
.pureness-comment-form .buttons>.pure-button {
    width: 50px;
    height: 30px;
    padding: 0;
}

