<!doctype html>
<html lang="ko">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>purecss.io</title>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
	<!--<![endif]-->
	<link rel="stylesheet" href="css/pureness-balloon.css">
	<style type="text/css">
		.wrap{
			padding: 24px 18px;
		}
		h1{
			padding: 0.6em 0.6em;
		}
	</style>
</head>
<body>
	<h1>Pureness Balloon</h1>

	<div class="wrap">

		<h2>pureness-balloon</h2>

		<span class="pureness-balloon pureness-balloon-top">pureness-balloon top</span><br />
		<span class="pureness-balloon pureness-balloon-left">pureness-balloon left</span><br />
		<span class="pureness-balloon pureness-balloon-right">pureness-balloon right</span><br />
		<span class="pureness-balloon pureness-balloon-bottom">pureness-balloon bottom</span>
	</div>

</body>
</html>
