<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>purecss.io</title>
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
		<![endif]-->
		<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
		<!--<![endif]-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/pureness-pagination.css">
		<style type="text/css">
			.wrap{
				padding: 24px 18px;
			}
			h1{
				padding: 0.6em 0.6em;
			}
		</style>
	</head>
	<body>
		<h1>Pagination pagination</h1>

		<hr />

		<div class="wrap">

			<h2>pureness-pagination</h2>

			<div class="pureness-pagination">
				<ul>
					<li class=""><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
					<li class=""><a href="#"><i class="fa fa-angle-left"></i></a></li>

					<li class="active"><a>1</a></li>
					<li><a>2</a></li>
					<li><a>3</a></li>
					<li><a>4</a></li>
					<li><a>5</a></li>

					<li class=""><a href="#"><i class="fa fa-angle-right"></i></a></li>
					<li class="disabled"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
				</ul>
			</div><!-- #pagination -->
		</div>

		<hr />

		<div class="pureness-wrap">

			<h2>pureness-o-pagination</h2>

			<div class="pureness-o-pagination">
				<ul>
					<li class=""><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
					<li class=""><a href="#"><i class="fa fa-angle-left"></i></a></li>

					<li class="active"><a>1</a></li>
					<li><a>2</a></li>
					<li><a>3</a></li>
					<li><a>4</a></li>
					<li><a>5</a></li>

					<li class=""><a href="#"><i class="fa fa-angle-right"></i></a></li>
					<li class="disabled"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
				</ul>
			</div><!-- #pagination -->
		</div>

		<hr />

	</body>
</html>
