<!doctype html>
<html lang="ko">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>purecss.io</title>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
	<!--<![endif]-->
	<link rel="stylesheet" href="css/pureness-button.css">
	<style type="text/css">
		.wrap{
			padding: 24px 18px;
		}
		h1{
			padding: 0.6em 0.6em;
		}
	</style>
</head>
<body>
	<h1>Pureness Button</h1>

	<div class="wrap">
		<h2>Default button</h2>

		<button class="pure-button">Default Button</button>
	</div>

	<hr />

	<div class="pureness-wrap">
		<h2>Padding button</h2>

		<button class="pure-button pureness-button-double">Button double</button>
		<button class="pure-button pureness-button-triple">Button triple</button>
		<button class="pure-button pureness-button-quad">Button quad</button>
	</div>

	<hr />

	<div class="pureness-wrap">
		<h2>Font-size button</h2>

		<button class="pure-button pureness-button-125p">Button 125p</button>
		<button class="pure-button pureness-button-150p">Button 150p</button>
		<button class="pure-button pureness-button-175p">Button 175p</button>
		<button class="pure-button pureness-button-200p">Button 200p</button>
	</div>

	<hr />

	<div class="pureness-wrap">
		<h2>Radius Button</h2>

		<button class="pure-button pureness-radius-button">Default radius</button>
	</div>

	<hr />

</body>
</html>
