<!doctype html>
<html lang="ko">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>pureness-css.io</title>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
	<!--<![endif]-->
	<link rel="stylesheet" href="css/pureness-component.css">
	<style type="text/css">
		.wrap{
			padding: 24px 18px;
		}
		h1{
			padding: 0.6em 0.6em;
		}
	</style>
</head>
<body>
	<h1>Pureness Component</h1>

	<div class="wrap">
		<h2>pureness-loader</h2>

		<i class="pureness-loader"></i>
	</div>

</body>
</html>
