<!doctype html>
<html lang="ko">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>purecss.io</title>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
	<!--<![endif]-->
	<link rel="stylesheet" href="css/pureness-tab.css">
	<style type="text/css">
		.wrap{
			padding: 24px 18px;
		}
		h1{
			padding: 0.6em 0.6em;
		}
	</style>
</head>
<body>
	<h1>Pureness Tab</h1>

	<div class="wrap">
		<h2>pureness-tab</h2>

		<div class="pureness-tab">
			<ul class="pureness-tab-list">
				<li class="pureness-tab-item pureness-tab-selected">
					<a href="#" class="pureness-tab-link">Home</a>
				</li>
				<li class="pureness-tab-item">
					<a href="#" class="pureness-tab-link">Introduce</a>
				</li>
				<li class="pureness-tab-item">
					<a href="#" class="pureness-tab-link">Infomation</a>
				</li>
			</ul>
		</div>
	</div>

</body>
</html>
