<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>purecss.io</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
		<link rel="stylesheet" href="css/stickyfooter.css">
		<link rel="stylesheet" href="css/layout.css">
		
	</head>
	<body>
		<div id="wrap">
			<div id="main">
				<div id="content">
					<div id="aside">
						<div class="introduce">
							<h1>Blog title
								<small>Name</small>
							</h1>
						</div>
						<div class="nav">
							<ul>
								<li>Menu1</li>
								<li>Menu2</li>
							</ul>
						</div>
					</div><!-- #aside -->

					<div id="main-section">
						<div class="article">
							<h1>Main title</h1>
							<hr />
							<br />
							<h2>Sub title</h2>
							<br />
							<p>
								Content
							</p>
						</div>
					</div><!-- #content -->
				</div><!-- #section -->
			</div><!-- #main -->
		</div><!-- #wrap -->

		<div id="footer">
			<div class="pure-g">
				<div class="pure-u-1">
					Footer
				</div>
			</div>
		</div><!-- #footer -->

	</body>
</html>
