<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>purecss.io</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-"
          crossorigin="anonymous">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../layouts/layout-2/css/stickyfooter.css">
    <link rel="stylesheet" href="../../layouts/layout-2/css/layout.css">
    <link rel="stylesheet" href="../../pureness/css/pureness.css">
    <link rel="stylesheet" href="../../component/css/pureness-pagination.css">
    <link rel="stylesheet" href="css/pureness-board.css">
    <style type="text/css">
        #content {
            max-width: 1000px;
            margin: 0 auto;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $("#upload").on("change", function() {
                $("#for_upload").val(this.value);
            });
        });
    </script>
</head>
<body>
    <div id="wrap">
        <div id="main">

            <div id="header">
                <div class="pure-g" style="text-align: center; line-height: 50px;">
                    <div class="pure-u-1">
                        Header
                    </div>
                </div>
            </div><!-- #header -->

            <div id="nav">
                <div class="pure-g" style="text-align: center; line-height: 50px;">
                    <div class="pure-u-1">
                        Nav
                    </div>
                </div>
            </div><!-- #nav -->

            <div id="content">
                <div id="main-section">

                    <div class="pureness-board-title">
                        <h2>게시판</h2>
                    </div><!-- .pureness-board-title -->


                    <form id="registerForm" action="#" method="post" class="pure-form pureness-board-form">

                        <div class="category">
                            <select>
                                <option>자유</option>
                                <option>질문</option>
                            </select>
                        </div>

                        <div class="title">
                            <input type="text" placeholder="제목을 입력해주세요.">
                        </div>

                        <div class="content">
                            <textarea placeholder="내용을 입력해주세요."></textarea>
                        </div>

                        <div class="upload pure-g">
                            <div class="pure-u-3-4">
                                <input type="text" id="for_upload">
                            </div>
                            <div class="pure-u-1-4">
                                <label for="upload">업로드</label>
                                <input type="file" id="upload">
                            </div>
                        </div>
                    </form><!-- .pureness-board-form -->

                    <div class="pureness-board-buttons">
                        <a href="#" class="pure-button">초기화</a>
                        <a href="#" class="pure-button">목록</a>
                        <a href="#" class="pure-button pure-button-primary">완료</a>
                    </div><!-- .pureness-board-buttons -->

                </div><!-- #main-section -->
            </div><!-- #content -->

        </div><!-- #main -->
    </div><!-- #wrap -->

    <div id="footer">
        <div class="pure-g" style="text-align: center; line-height: 50px;">
            <div class="pure-u-1">
                Footer
            </div>
        </div>
    </div><!-- #footer -->

</body>
</html>
